Repository sbroenne/pytest-skill-engineering: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, mkdocs-build

pyright:
  name: Type Check ❌
  entry: uv run pyright
  language: system
  pass_filenames: false

mkdocs-build:
  name: Docs Build
  entry: uv run python -X utf8 -m mkdocs build --strict
  language: system
  pass_filenames: false

fix: align unit tests with plugin decomposition and SDK 0.2.0 changes
  src/pytest_skill_engineering/copilot/events.py
  tests/unit/__snapshots__/test_json_contract.ambr
  tests/unit/test_copilot_model.py
  tests/unit/test_hooks.py
Due: pyright, mkdocs-build

style: ruff format 4 files flagged by CI
  src/pytest_skill_engineering/copilot/model.py
  tests/integration/copilot/test_06_sessions.py
  tests/integration/copilot/test_07_clarification.py
  tests/integration/copilot/test_09_cli.py
Due: pyright, mkdocs-build

feat: first-class plugin testing support
  .squad/agents/fenster/history.md
  .squad/agents/hockney/history.md
  .squad/agents/keaton/history.md
  .squad/agents/verbal/history.md
  src/pytest_skill_engineering/__init__.py
  src/pytest_skill_engineering/copilot/__init__.py
  src/pytest_skill_engineering/copilot/config.py
  src/pytest_skill_engineering/copilot/eval.py
  src/pytest_skill_engineering/core/__init__.py
  src/pytest_skill_engineering/core/eval.py
  src/pytest_skill_engineering/core/plugin.py
  src/pytest_skill_engineering/core/result.py
  tests/integration/copilot/test_13_plugins.py
  tests/integration/plugins/banking-plugin/agents/banking-advisor.agent.md
  tests/integration/plugins/banking-plugin/copilot-instructions.md
  tests/integration/plugins/banking-plugin/plugin.json
  tests/integration/plugins/banking-plugin/skills/financial-literacy/SKILL.md
  tests/integration/plugins/claude-project/.claude/agents/code-reviewer.md
  tests/integration/plugins/claude-project/.claude/skills/python-patterns/SKILL.md
  tests/integration/plugins/claude-project/.mcp.json
  tests/integration/plugins/claude-project/CLAUDE.md
  tests/integration/pydantic/test_13_plugins.py
Due: pyright, mkdocs-build

docs: add plugin testing documentation
  CHANGELOG.md
  README.md
  docs/getting-started/plugins.md
  docs/how-to/index.md
  docs/how-to/test-plugins.md
  docs/reference/api.md
  mkdocs.yml
Due: mkdocs-build

feat: make Skill type fully compliant with agentskills.io spec
  src/pytest_skill_engineering/core/skill.py
  src/pytest_skill_engineering/execution/engine.py
  src/pytest_skill_engineering/execution/skill_tools.py
Due: pyright, mkdocs-build

feat: skill-creator eval bridge (load_skill_evals + export_grading)
  src/pytest_skill_engineering/__init__.py
  src/pytest_skill_engineering/core/__init__.py
  src/pytest_skill_engineering/core/skill_evals.py
  src/pytest_skill_engineering/core/skill_grading.py
  tests/integration/skills/math-helper/evals/evals.json
Due: pyright, mkdocs-build

test: Agent Skills spec compliance + eval bridge integration tests
  tests/integration/pydantic/test_05_skills.py
  tests/integration/skills/math-helper/SKILL.md
  tests/integration/skills/spec-compliant/SKILL.md
  tests/integration/skills/spec-compliant/assets/schema.json
  tests/integration/skills/spec-compliant/assets/template.txt
  tests/integration/skills/spec-compliant/evals/evals.json
  tests/integration/skills/spec-compliant/references/guide.md
  tests/integration/skills/spec-compliant/scripts/validate.py
Due: pyright

style: format skill_grading.py and test_05_skills.py
  src/pytest_skill_engineering/core/skill_grading.py
  tests/integration/pydantic/test_05_skills.py
Due: pyright, mkdocs-build

refactor: remove PydanticAI engine, adapter, and eval types
  pyproject.toml
  src/pytest_skill_engineering/__init__.py
  src/pytest_skill_engineering/copilot/__init__.py
  src/pytest_skill_engineering/copilot/fixtures.py
  src/pytest_skill_engineering/copilot/judge.py
  src/pytest_skill_engineering/core/__init__.py
  src/pytest_skill_engineering/core/eval.py
  src/pytest_skill_engineering/execution/__init__.py
  src/pytest_skill_engineering/execution/clarification.py
  src/pytest_skill_engineering/execution/cli_toolset.py
  src/pytest_skill_engineering/execution/cost.py
  src/pytest_skill_engineering/execution/engine.py
  src/pytest_skill_engineering/execution/optimizer.py
  src/pytest_skill_engineering/execution/pydantic_adapter.py
  src/pytest_skill_engineering/execution/servers.py
  src/pytest_skill_engineering/fixtures/__init__.py
  src/pytest_skill_engineering/fixtures/llm_assert.py
  src/pytest_skill_engineering/fixtures/llm_assert_image.py
  src/pytest_skill_engineering/fixtures/llm_score.py
  src/pytest_skill_engineering/fixtures/run.py
  src/pytest_skill_engineering/plugin.py
  src/pytest_skill_engineering/reporting/insights.py
  uv.lock
Due: pyright, mkdocs-build

fix: resolve leftover PydanticAI import errors in plugin.py and cost.py
  .squad/agents/fenster/history.md
  .squad/agents/verbal/history.md
  src/pytest_skill_engineering/execution/cost.py
  src/pytest_skill_engineering/plugin.py
Due: pyright, mkdocs-build

test: remove pydantic tests, update conftest for Copilot-only
  .squad/agents/hockney/history.md
  tests/integration/conftest.py
  tests/integration/copilot/conftest.py
  tests/integration/pydantic/__init__.py
  tests/integration/pydantic/conftest.py
  tests/integration/pydantic/test_01_basic.py
  tests/integration/pydantic/test_02_models.py
  tests/integration/pydantic/test_03_prompts.py
  tests/integration/pydantic/test_04_matrix.py
  tests/integration/pydantic/test_05_skills.py
  tests/integration/pydantic/test_06_sessions.py
  tests/integration/pydantic/test_07_clarification.py
  tests/integration/pydantic/test_08_scoring.py
  tests/integration/pydantic/test_09_cli.py
  tests/integration/pydantic/test_10_ab_servers.py
  tests/integration/pydantic/test_11_iterations.py
  tests/integration/pydantic/test_12_custom_agents.py
  tests/integration/pydantic/test_13_plugins.py
Due: pyright

test: remove PydanticAI-dependent tests and fixtures
  src/pytest_skill_engineering/copilot/__init__.py
  src/pytest_skill_engineering/copilot/fixtures.py
  src/pytest_skill_engineering/copilot/model.py
  src/pytest_skill_engineering/plugin_report.py
  tests/fixtures/conftest.py
  tests/fixtures/scenario_01_single_agent.py
  tests/fixtures/scenario_02_multi_agent.py
  tests/fixtures/scenario_03_sessions.py
  tests/fixtures/scenario_04_agent_selector.py
  tests/fixtures/scenario_05_prompt_comparison.py
  tests/fixtures/scenario_06_model_prompt_matrix.py
  tests/fixtures/scenario_07_skill_improvement.py
  tests/fixtures/scenario_08_cli_server.py
  tests/fixtures/scenario_09_ab_servers.py
  tests/fixtures/scenario_10_dimension_detection.py
  tests/integration/conftest.py
  tests/showcase/conftest.py
  tests/showcase/test_hero.py
  tests/unit/test_agent.py
  tests/unit/test_clarification.py
  tests/unit/test_cli_server_process.py
  tests/unit/test_config.py
  tests/unit/test_copilot_model.py
  tests/unit/test_copilot_optimizer.py
  tests/unit/test_evals.py
  tests/unit/test_iterations.py
  tests/unit/test_junit_xml.py
  tests/unit/test_llm_assert_image.py
  tests/unit/test_llm_score.py
  tests/unit/test_mcp_servers.py
  tests/unit/test_multimodal_extraction.py
  tests/unit/test_tool_filter.py
Due: pyright, mkdocs-build

squad: Scribe orchestration — Copilot pivot session complete
  .squad/agents/fenster/history.md
  .squad/agents/hockney/history.md
  .squad/agents/keaton/history.md
  .squad/agents/mcmanus/history.md
  .squad/agents/verbal/history.md
  .squad/decisions.md
Due: none

docs: rewrite for Copilot-only pivot + Agent Skills prominence
  CHANGELOG.md
  README.md
  docs/explanation/choosing-a-harness.md
  docs/explanation/evals.md
  docs/getting-started/index.md
  docs/reference/api.md
Due: mkdocs-build

ci: replace MCP Server Validation with Unit Tests job
  .github/workflows/ci.yml
Due: none

feat: skill-creator eval automation fixture (skill_eval_runner)
  src/pytest_skill_engineering/__init__.py
  src/pytest_skill_engineering/core/__init__.py
  src/pytest_skill_engineering/core/skill_evals.py
  src/pytest_skill_engineering/core/skill_grading.py
  src/pytest_skill_engineering/fixtures/__init__.py
  src/pytest_skill_engineering/fixtures/skill_eval.py
  tests/integration/copilot/test_14_skill_evals.py
Due: pyright, mkdocs-build

docs: add skill_eval_runner to CHANGELOG
  CHANGELOG.md
Due: none

feat: skill refinement feedback loop (Phase 3 of skill-creator workflow)
  src/pytest_skill_engineering/__init__.py
  src/pytest_skill_engineering/core/__init__.py
  src/pytest_skill_engineering/core/skill_benchmark.py
  src/pytest_skill_engineering/core/skill_refiner.py
  src/pytest_skill_engineering/fixtures/__init__.py
  src/pytest_skill_engineering/fixtures/skill_benchmark.py
  src/pytest_skill_engineering/fixtures/skill_refine.py
  tests/integration/copilot/test_15_skill_refinement.py
  tests/integration/copilot/test_16_skill_benchmark.py
Due: pyright, mkdocs-build

fix: correct export_grading call in skill_benchmark fixture
  src/pytest_skill_engineering/fixtures/skill_benchmark.py
Due: pyright, mkdocs-build

fix: add id/skill attributes to AgentWrapper, format skill_benchmark
  src/pytest_skill_engineering/copilot/fixtures.py
  src/pytest_skill_engineering/fixtures/skill_benchmark.py
Due: pyright, mkdocs-build

feat: end-to-end skill-creator workflow test against banking plugin
  tests/integration/copilot/test_17_plugin_skill_workflow.py
  tests/integration/plugins/banking-plugin/skills/financial-literacy/evals/evals.json
Due: pyright

fix: add on_permission_request to copilot_judge session config
  src/pytest_skill_engineering/copilot/judge.py
Due: pyright, mkdocs-build

fix: serialize AssertionResult to bool/string in skill_eval_runner
  src/pytest_skill_engineering/fixtures/skill_eval.py
Due: pyright, mkdocs-build

fix: critical bugs found in code review
  src/pytest_skill_engineering/copilot/judge.py
  src/pytest_skill_engineering/fixtures/skill_benchmark.py
Due: pyright, mkdocs-build

docs: fix 16 stale references from Copilot pivot
  .github/copilot-instructions.md
  CONTRIBUTING.md
  docs/explanation/evals.md
  docs/how-to/cost-estimation.md
  docs/how-to/image-assertions.md
  docs/how-to/multi-dimension-scoring.md
  docs/how-to/test-coding-agents.md
  docs/index.md
  docs/migration.md
  docs/reference/assertions.md
  docs/reference/configuration.md
  docs/reference/result.md
  docs/reference/test-harnesses.md
Due: mkdocs-build

docs: complete sweep — replace all eval_run/Eval with copilot_eval/CopilotEval
  docs/contributing/architecture.md
  docs/explanation/evals.md
  docs/explanation/skill-engineering.md
  docs/explanation/tdd-for-ai.md
  docs/getting-started/ab-testing-servers.md
  docs/getting-started/comparing.md
  docs/getting-started/custom-agents.md
  docs/getting-started/custom-instructions.md
  docs/getting-started/iterations.md
  docs/getting-started/mcp-prompts.md
  docs/getting-started/plugins.md
  docs/getting-started/prompt-files.md
  docs/getting-started/sessions.md
  docs/getting-started/skills.md
  docs/how-to/complete-example.md
  docs/how-to/fixture-testing.md
  docs/how-to/image-assertions.md
  docs/how-to/multi-dimension-scoring.md
  docs/how-to/test-cli-tools.md
  docs/how-to/test-mcp-servers.md
  docs/how-to/test-plugins.md
  docs/index.md
  docs/migration.md
  docs/reference/assertions.md
  docs/reference/configuration.md
  docs/reference/result.md
  docs/reference/test-harnesses.md
Due: mkdocs-build

docs: remove stale SkillCompatibility from API reference
  docs/reference/api.md
Due: mkdocs-build

docs: remove stale SkillCompatibility from API reference (#17)
  docs/reference/api.md
Due: mkdocs-build

docs: remove stale copilot.types.CustomAgent from API reference
  docs/reference/api.md
Due: mkdocs-build

docs: remove stale copilot.types.CustomAgent from API reference (#18)
  docs/reference/api.md
Due: mkdocs-build

fix: release version selection\n\nCo-authored-by: Copilot <223556219+Copilot@users.noreply.github.com>
  .github/workflows/release.yml
  docs/contributing/releasing.md
Due: mkdocs-build

fix: release version selection\n\nCo-authored-by: Copilot <223556219+Copilot@users.noreply.github.com> (#19)
  .github/workflows/release.yml
  docs/contributing/releasing.md
Due: mkdocs-build

chore: project-wide cleanup — restore types, remove stale references
  .env.example
  .github/copilot-instructions.md
  .squad/agents/fenster/charter.md
  .squad/agents/hockney/charter.md
  CHANGELOG.md
  docs/contributing/architecture.md
  docs/getting-started/ab-testing-servers.md
  docs/getting-started/mcp-prompts.md
  docs/how-to/complete-example.md
  docs/how-to/fixture-testing.md
  docs/reference/assertions.md
  docs/reference/test-harnesses.md
  pyproject.toml
  src/pytest_skill_engineering/__init__.py
  src/pytest_skill_engineering/execution/__init__.py
  src/pytest_skill_engineering/execution/servers.py
  tests/integration/copilot/test_16_skill_benchmark.py
  tests/unit/test_copilot_plugin.py
Due: pyright, mkdocs-build

chore: project-wide cleanup — restore types, remove stale references (#25)
  .env.example
  .github/copilot-instructions.md
  .squad/agents/fenster/charter.md
  .squad/agents/hockney/charter.md
  CHANGELOG.md
  docs/contributing/architecture.md
  docs/getting-started/ab-testing-servers.md
  docs/getting-started/mcp-prompts.md
  docs/how-to/complete-example.md
  docs/how-to/fixture-testing.md
  docs/reference/assertions.md
  docs/reference/test-harnesses.md
  pyproject.toml
  src/pytest_skill_engineering/__init__.py
  src/pytest_skill_engineering/execution/__init__.py
  src/pytest_skill_engineering/execution/servers.py
  tests/integration/copilot/test_16_skill_benchmark.py
  tests/unit/test_copilot_plugin.py
Due: pyright, mkdocs-build

chore: bump version to 0.5.8
  CHANGELOG.md
  pyproject.toml
Due: none

ci: add dependabot auto-merge and auto-release workflows
  .github/workflows/auto-release.yml
  .github/workflows/dependabot-auto-merge.yml
Due: none

Path conditions:
  pyright: any of: \.py$
  mkdocs-build: any of: ^(docs/|mkdocs\.yml|src/pytest_skill_engineering/)
