Repository sbroenne/pytest-skill-engineering: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, mkdocs-build

.pre-commit-config.yaml:

repos:
  # Lint & Format: Ruff (via uv)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.1
    hooks:
      - id: ruff
        name: "Lint ❌"
        args: [--fix]
        language_version: python3
      - id: ruff-format
        name: "Format"
        language_version: python3

  # Type Check: Pyright (via uv)
  - repo: local
    hooks:
      - id: pyright
        name: "Type Check ❌"
        entry: uv run pyright
        language: system
        types: [python]
        pass_filenames: false

  # Docs: MkDocs build (via uv)
  - repo: local
    hooks:
      - id: mkdocs-build
        name: "Docs Build"
        entry: uv run python -X utf8 -m mkdocs build --strict
        language: system
        files: ^(docs/|mkdocs\.yml|src/pytest_skill_engineering/)
        pass_filenames: false

# Note: CodeQL ❌ runs on GitHub Actions (not pre-commit)
# See: .github/workflows/codeql.yml

Preserve exact-budget tool completion
  .github/workflows/docs.yml
  CHANGELOG.md
  pyproject.toml
  src/pytest_skill_engineering/copilot/controls.py
  src/pytest_skill_engineering/copilot/runner.py
  tests/unit/test_benchmark_controls.py
  tests/unit/test_release_invariants.py
  tests/unit/test_request_websocket_runtime.py
  uv.lock
Due: pyright, mkdocs-build

Fix denied-call budget finalization
  .github/workflows/docs.yml
  CHANGELOG.md
  pyproject.toml
  src/pytest_skill_engineering/copilot/controls.py
  src/pytest_skill_engineering/copilot/requests.py
  src/pytest_skill_engineering/copilot/runner.py
  tests/unit/test_benchmark_controls.py
  tests/unit/test_release_invariants.py
  tests/unit/test_request_websocket_runtime.py
  uv.lock
Due: pyright, mkdocs-build

fix: remove obsolete analysis tests and format documentation
  README.md
  docs/getting-started/comparing.md
  docs/how-to/inspect-evidence.md
  tests/contracts/test_execution_only.py
  tests/unit/test_copilot_plugin.py
Due: pyright, mkdocs-build

chore: update dependencies to current compatible releases
  .github/workflows/dependency-review.yml
  CHANGELOG.md
  examples/skill-dogfood/pyproject.toml
  examples/skill-dogfood/uv.lock
  pyproject.toml
  uv.lock
Due: none

docs: make skill case study accessible to new users
  docs/index.md
  docs/use-cases/companion-skill.md
  mkdocs.yml
Due: mkdocs-build

Fix explicit skill loading and verify SDK availability
  CHANGELOG.md
  docs/contributing/evidence-structure.md
  docs/getting-started/skills.md
  docs/reference/configuration.md
  docs/reference/result.md
  src/pytest_skill_engineering/copilot/__init__.py
  src/pytest_skill_engineering/copilot/eval.py
  src/pytest_skill_engineering/copilot/fixtures.py
  src/pytest_skill_engineering/copilot/result.py
  src/pytest_skill_engineering/copilot/runner.py
  src/pytest_skill_engineering/copilot/skills.py
  src/pytest_skill_engineering/core/__init__.py
  src/pytest_skill_engineering/core/result.py
  src/pytest_skill_engineering/core/serialization.py
  tests/contracts/test_native_evidence.py
  tests/contracts/test_skill_availability.py
  tests/integration/copilot/test_skill_discovery.py
Due: pyright, mkdocs-build

Prepare 1.0.1 explicit skill loading release
  .github/workflows/docs.yml
  CHANGELOG.md
  examples/skill-dogfood/uv.lock
  pyproject.toml
  tests/unit/test_release_invariants.py
  uv.lock
Due: pyright

Fix explicit skill availability and prepare 1.0.1 (#110)
  .github/workflows/docs.yml
  CHANGELOG.md
  docs/contributing/evidence-structure.md
  docs/getting-started/skills.md
  docs/reference/configuration.md
  docs/reference/result.md
  examples/skill-dogfood/uv.lock
  pyproject.toml
  src/pytest_skill_engineering/copilot/__init__.py
  src/pytest_skill_engineering/copilot/eval.py
  src/pytest_skill_engineering/copilot/fixtures.py
  src/pytest_skill_engineering/copilot/result.py
  src/pytest_skill_engineering/copilot/runner.py
  src/pytest_skill_engineering/copilot/skills.py
  src/pytest_skill_engineering/core/__init__.py
  src/pytest_skill_engineering/core/result.py
  src/pytest_skill_engineering/core/serialization.py
  tests/contracts/test_native_evidence.py
  tests/contracts/test_skill_availability.py
  tests/integration/copilot/test_skill_discovery.py
  tests/unit/test_release_invariants.py
  uv.lock
Due: pyright, mkdocs-build

Fix nested skill reference validation (#111)
  CHANGELOG.md
  docs/getting-started/skills.md
  src/pytest_skill_engineering/core/plugin.py
  src/pytest_skill_engineering/core/skill.py
  tests/contracts/test_skill_availability.py
  tests/integration/copilot/test_skill_discovery.py
  tests/unit/test_plugin_skill_references.py
  tests/unit/test_skill.py
Due: pyright, mkdocs-build

Prepare 1.0.2 nested reference corrective release
  .github/workflows/docs.yml
  CHANGELOG.md
  examples/skill-dogfood/uv.lock
  pyproject.toml
  tests/unit/test_release_invariants.py
  uv.lock
Due: pyright

Fix nested skill references and prepare 1.0.2 (#111) (#112)
  .github/workflows/docs.yml
  CHANGELOG.md
  docs/getting-started/skills.md
  examples/skill-dogfood/uv.lock
  pyproject.toml
  src/pytest_skill_engineering/core/plugin.py
  src/pytest_skill_engineering/core/skill.py
  tests/contracts/test_skill_availability.py
  tests/integration/copilot/test_skill_discovery.py
  tests/unit/test_plugin_skill_references.py
  tests/unit/test_release_invariants.py
  tests/unit/test_skill.py
  uv.lock
Due: pyright, mkdocs-build

Remove circular imports from result contracts and MCP validation
  src/pytest_skill_engineering/copilot/config.py
  src/pytest_skill_engineering/copilot/contracts.py
  src/pytest_skill_engineering/copilot/events.py
  src/pytest_skill_engineering/copilot/result.py
  src/pytest_skill_engineering/core/evals.py
  src/pytest_skill_engineering/core/plugin.py
  src/pytest_skill_engineering/core/validation.py
  tests/contracts/test_review_regressions.py
Due: pyright, mkdocs-build
