Repository sbroenne/pytest-skill-engineering: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, mkdocs-build

pyright:
  name: Type Check ❌
  entry: uv run pyright
  language: system
  pass_filenames: false

mkdocs-build:
  name: Docs Build
  entry: uv run python -X utf8 -m mkdocs build --strict
  language: system
  pass_filenames: false

feat: add full pipeline support for all 4 SE core concepts
  src/pytest_skill_engineering/copilot/events.py
  src/pytest_skill_engineering/copilot/fixtures.py
  src/pytest_skill_engineering/copilot/result.py
  src/pytest_skill_engineering/core/eval.py
  src/pytest_skill_engineering/core/result.py
  src/pytest_skill_engineering/core/serialization.py
  src/pytest_skill_engineering/execution/engine.py
  src/pytest_skill_engineering/execution/pydantic_adapter.py
  src/pytest_skill_engineering/fixtures/run.py
  src/pytest_skill_engineering/plugin.py
  src/pytest_skill_engineering/prompts/ai_summary.md
  src/pytest_skill_engineering/reporting/insights.py
  tests/unit/__snapshots__/test_json_contract.ambr
Due: pyright, mkdocs-build

chore: migrate system_prompt= tests, add CHANGELOG and migration guide
  CHANGELOG.md
  docs/migration.md
  src/pytest_skill_engineering/fixtures/run.py
  tests/fixtures/scenario_01_single_agent.py
  tests/fixtures/scenario_02_multi_agent.py
  tests/fixtures/scenario_03_sessions.py
  tests/fixtures/scenario_04_agent_selector.py
  tests/fixtures/scenario_05_prompt_comparison.py
  tests/fixtures/scenario_06_model_prompt_matrix.py
  tests/fixtures/scenario_07_skill_improvement.py
  tests/fixtures/scenario_08_cli_server.py
  tests/fixtures/scenario_09_ab_servers.py
  tests/fixtures/scenario_10_dimension_detection.py
  tests/integration/conftest.py
  tests/integration/prompts/concise.agent.md
  tests/integration/prompts/detailed.agent.md
  tests/integration/prompts/structured.agent.md
  tests/integration/test_ab_servers.py
  tests/integration/test_basic_usage.py
  tests/integration/test_cli_server.py
  tests/integration/test_dimension_detection.py
  tests/integration/test_iterations.py
  tests/integration/test_scoring.py
  tests/integration/test_sessions.py
  tests/integration/test_skill_improvement.py
  tests/integration/test_skills.py
  tests/showcase/prompts/concise.agent.md
  tests/showcase/prompts/detailed.agent.md
  tests/showcase/prompts/friendly.agent.md
  tests/showcase/test_hero.py
  tests/unit/test_agent.py
  tests/unit/test_config.py
Due: pyright, mkdocs-build

docs: fix api.md module paths and docstring warnings for strict mkdocs build
  docs/contributing/architecture.md
  docs/explanation/choosing-a-harness.md
  docs/getting-started/custom-agents.md
  docs/getting-started/mcp-prompts.md
  docs/getting-started/prompt-files.md
  docs/getting-started/system-prompts.md
  docs/how-to/complete-example.md
  docs/how-to/fixture-testing.md
  docs/how-to/test-cli-tools.md
  docs/how-to/test-mcp-servers.md
  docs/reference/api.md
  docs/reference/configuration.md
  docs/reference/test-harnesses.md
  mkdocs.yml
  src/pytest_skill_engineering/core/evals.py
  src/pytest_skill_engineering/core/result.py
Due: pyright, mkdocs-build

tests: complete rewrite — new API, class renames, new feature coverage
  tests/unit/test_agent.py
  tests/unit/test_config.py
  tests/unit/test_copilot_agent.py
  tests/unit/test_copilot_result.py
  tests/unit/test_evals.py
  tests/unit/test_junit_xml.py
  tests/unit/test_result.py
Due: pyright

redesign: rename Agent Leaderboard -> Eval Leaderboard throughout
  src/pytest_skill_engineering/prompts/ai_summary.md
  src/pytest_skill_engineering/reporting/components/__init__.py
  src/pytest_skill_engineering/reporting/components/agent_leaderboard.py
  src/pytest_skill_engineering/reporting/components/report.py
  src/pytest_skill_engineering/reporting/insights.py
  src/pytest_skill_engineering/reporting/markdown.py
Due: pyright, mkdocs-build

feat: Gap 5 — Custom Instructions pipeline
  docs/getting-started/custom-instructions.md
  mkdocs.yml
  src/pytest_skill_engineering/__init__.py
  src/pytest_skill_engineering/core/__init__.py
  src/pytest_skill_engineering/core/eval.py
  src/pytest_skill_engineering/core/evals.py
  src/pytest_skill_engineering/core/result.py
  src/pytest_skill_engineering/core/serialization.py
  src/pytest_skill_engineering/execution/engine.py
  src/pytest_skill_engineering/execution/pydantic_adapter.py
  src/pytest_skill_engineering/plugin.py
  src/pytest_skill_engineering/prompts/ai_summary.md
  src/pytest_skill_engineering/reporting/insights.py
  tests/unit/test_evals.py
Due: pyright, mkdocs-build

fix: resolve all CI failures (lint, type check, snapshots)
  scripts/generate_fixture_html.py
  src/pytest_skill_engineering/core/eval.py
  src/pytest_skill_engineering/execution/servers.py
  tests/unit/__snapshots__/test_json_contract.ambr
Due: pyright, mkdocs-build

chore: use claude-sonnet-4.6 as copilot model fallback and in test matrix
  src/pytest_skill_engineering/copilot/fixtures.py
  tests/integration/copilot/conftest.py
Due: pyright, mkdocs-build

docs: update stale test file links and model references for new integration test structure
  docs/getting-started/ab-testing-servers.md
  docs/getting-started/comparing.md
  docs/getting-started/iterations.md
  docs/getting-started/sessions.md
  docs/getting-started/skills.md
  docs/how-to/test-cli-tools.md
  docs/index.md
  docs/reference/configuration.md
  examples/README.md
  tests/integration/README.md
Due: mkdocs-build

fix(docs): remove invalid custom_agents= from Eval() examples
  docs/explanation/evals.md
  docs/index.md
Due: mkdocs-build

chore: regenerate hero report with claude-sonnet-4.6
  docs/demo/hero-report.html
Due: mkdocs-build

style: fix ruff formatting in test_evals.py
  tests/unit/test_evals.py
Due: pyright

fix: Handle string role in MCP prompts and add permission handler to CopilotModel
  src/pytest_skill_engineering/copilot/model.py
  src/pytest_skill_engineering/execution/servers.py
Due: pyright, mkdocs-build

fix: Deduplicate tool calls and assistant messages in EventMapper
  src/pytest_skill_engineering/copilot/events.py
Due: pyright, mkdocs-build

fix: Deduplicate assistant message turns from delta+complete events
  src/pytest_skill_engineering/copilot/events.py
Due: pyright, mkdocs-build

feat: Polyfill skill reference tools for CopilotEval
  src/pytest_skill_engineering/copilot/personas.py
Due: pyright, mkdocs-build

test: Add unit tests for MCP prompt role, permission handler, event dedup, and skill reference polyfills
  src/pytest_skill_engineering/testing/banking_mcp.py
  tests/unit/test_copilot_event_mapper.py
  tests/unit/test_copilot_model.py
  tests/unit/test_copilot_personas.py
  tests/unit/test_mcp_servers.py
Due: pyright, mkdocs-build

style: Fix lint issues (unused imports, import order, line length)
  src/pytest_skill_engineering/copilot/events.py
  src/pytest_skill_engineering/copilot/personas.py
  tests/unit/test_copilot_personas.py
  uv.lock
Due: pyright, mkdocs-build

style: Format test_copilot_event_mapper.py
  tests/unit/test_copilot_event_mapper.py
Due: pyright

fix: MCP prompt role, CopilotModel permissions, event dedup, skill reference polyfills (#5)
  src/pytest_skill_engineering/copilot/events.py
  src/pytest_skill_engineering/copilot/model.py
  src/pytest_skill_engineering/copilot/personas.py
  src/pytest_skill_engineering/execution/servers.py
  src/pytest_skill_engineering/testing/banking_mcp.py
  tests/unit/test_copilot_event_mapper.py
  tests/unit/test_copilot_model.py
  tests/unit/test_copilot_personas.py
  tests/unit/test_mcp_servers.py
  uv.lock
Due: pyright, mkdocs-build

feat: Add tool_was_called_with() for argument inspection
  src/pytest_skill_engineering/copilot/result.py
  src/pytest_skill_engineering/core/result.py
  tests/unit/test_copilot_result.py
  tests/unit/test_result.py
Due: pyright, mkdocs-build

style: Format test_result.py
  tests/unit/test_result.py
Due: pyright

feat: Add tool_was_called_with() for argument inspection (#7)
  src/pytest_skill_engineering/copilot/result.py
  src/pytest_skill_engineering/core/result.py
  tests/unit/test_copilot_result.py
  tests/unit/test_result.py
Due: pyright, mkdocs-build

chore: upgrade all dependencies via uv lock --upgrade
  .squad/agents/fenster/history.md
  uv.lock
Due: none

fix: resolve 3 issues from dependency upgrades
  src/pytest_skill_engineering/copilot/events.py
  src/pytest_skill_engineering/execution/engine.py
  src/pytest_skill_engineering/execution/pydantic_adapter.py
Due: pyright, mkdocs-build

.squad: Update session & decision logs, orchestration log
  .squad/agents/fenster/history.md
  .squad/agents/hockney/history.md
  .squad/agents/verbal/history.md
  .squad/decisions.md
Due: none

chore: upgrade all dependencies and Copilot SDK
  .copilot/mcp-config.json
  .gitattributes
  .github/agents/squad.agent.md
  .github/workflows/squad-heartbeat.yml
  .github/workflows/squad-issue-assign.yml
  .github/workflows/squad-triage.yml
  .github/workflows/sync-squad-labels.yml
  .gitignore
  pyproject.toml
  src/pytest_skill_engineering/copilot/model.py
  src/pytest_skill_engineering/copilot/personas.py
  src/pytest_skill_engineering/copilot/runner.py
  tmp_diff.txt
Due: pyright, mkdocs-build

fix(copilot): use attribute access for ToolInvocation in SDK 0.2.0
  .squad/agents/fenster/history.md
  .squad/agents/mcmanus/history.md
  .squad/agents/verbal/history.md
  src/pytest_skill_engineering/copilot/model.py
  src/pytest_skill_engineering/copilot/personas.py
Due: pyright, mkdocs-build

fix: core engine fixes from repo review
  .squad/agents/fenster/history.md
  .squad/decisions/inbox/fenster-core-fixes.md
  src/pytest_skill_engineering/core/eval.py
  src/pytest_skill_engineering/core/evals.py
  src/pytest_skill_engineering/core/prompt.py
  src/pytest_skill_engineering/core/serialization.py
  src/pytest_skill_engineering/execution/optimizer.py
  src/pytest_skill_engineering/execution/pydantic_adapter.py
  src/pytest_skill_engineering/plugin.py
  src/pytest_skill_engineering/plugin_options.py
  src/pytest_skill_engineering/plugin_recording.py
  src/pytest_skill_engineering/plugin_report.py
  src/pytest_skill_engineering/reporting/collector.py
  src/pytest_skill_engineering/testing/banking.py
  src/pytest_skill_engineering/testing/todo.py
  src/pytest_skill_engineering/testing/types.py
Due: pyright, mkdocs-build

feat: Merge sprint decisions and update team history
  .squad/agents/hockney/history.md
  .squad/agents/keaton/history.md
  .squad/agents/mcmanus/history.md
  .squad/agents/verbal/history.md
  .squad/decisions.md
  .squad/decisions/inbox/fenster-core-fixes.md
Due: none

feat: Merge sprint decisions and update team history
  .squad/agents/hockney/history.md
  .squad/agents/verbal/history.md
  tests/integration/copilot/test_06_sessions.py
  tests/integration/copilot/test_07_clarification.py
  tests/integration/copilot/test_08_scoring.py
  tests/integration/copilot/test_09_cli.py
  tests/integration/copilot/test_10_ab_servers.py
  tests/integration/copilot/test_11_iterations.py
Due: pyright

Scribe: Session logs, orchestration records, decision inbox merge (2026-03-21T10:50)
  .squad/decisions.md
Due: none

docs: Copilot-first positioning, v0.2.0 changelog, contributing updates
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/explanation/choosing-a-harness.md
Due: mkdocs-build

docs(site): Copilot-first positioning across mkdocs pages
  docs/explanation/evals.md
  docs/getting-started/custom-agents.md
  docs/getting-started/index.md
  docs/getting-started/sessions.md
  docs/index.md
Due: mkdocs-build

fix: XSS sanitization, negative tests, dependency updates
  pyproject.toml
  src/pytest_skill_engineering/reporting/components/__init__.py
  src/pytest_skill_engineering/reporting/components/agent_leaderboard.py
  src/pytest_skill_engineering/reporting/components/overlay.py
  src/pytest_skill_engineering/reporting/components/report.py
  src/pytest_skill_engineering/reporting/components/test_grid.py
  src/pytest_skill_engineering/templates/partials/report.css
  src/pytest_skill_engineering/templates/partials/scripts.js
  tests/integration/pydantic/test_01_basic.py
  uv.lock
Due: pyright, mkdocs-build

fix: SDK 0.2.0 remnants in model.py and personas.py skill tools
  src/pytest_skill_engineering/copilot/model.py
  src/pytest_skill_engineering/copilot/personas.py
Due: pyright, mkdocs-build

Path conditions:
  pyright: any of: \.py$
  mkdocs-build: any of: ^(docs/|mkdocs\.yml|src/pytest_skill_engineering/)
