Repository sbroenne/pytest-skill-engineering: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, mkdocs-build

pyright:
  name: Type Check ❌
  entry: uv run pyright
  language: system
  pass_filenames: false

mkdocs-build:
  name: Docs Build
  entry: uv run python -X utf8 -m mkdocs build --strict
  language: system
  pass_filenames: false

Fix PR type imports and formatting
  src/pytest_skill_engineering/copilot/events.py
  src/pytest_skill_engineering/copilot/runner.py
  src/pytest_skill_engineering/core/scoring.py
  src/pytest_skill_engineering/core/skill_eval_results.py
Due: pyright, mkdocs-build

Fix API reference scoring docs paths
  docs/reference/api.md
Due: mkdocs-build

Allow manual docs deploy version input
  .github/workflows/docs.yml
Due: none

Make release workflow idempotent
  .github/workflows/release.yml
Due: none

Upgrade dependencies
  pyproject.toml
  src/pytest_skill_engineering/copilot/judge.py
  src/pytest_skill_engineering/copilot/runner.py
  src/pytest_skill_engineering/fixtures/llm_assert.py
  src/pytest_skill_engineering/fixtures/llm_assert_image.py
  src/pytest_skill_engineering/fixtures/llm_score.py
  src/pytest_skill_engineering/plugin.py
  src/pytest_skill_engineering/plugin_report.py
  uv.lock
Due: pyright, mkdocs-build

Upgrade dependencies, migrate to Copilot SDK 1.x, fix cost estimation, act on code review findings
  .github/workflows/auto-release.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/hero-tests.yml
  .github/workflows/integration.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  CHANGELOG.md
  CONTRIBUTING.md
  SECURITY.md
  docs/explanation/evals.md
  docs/getting-started/sessions.md
  pricing.toml
  pyproject.toml
  src/pytest_skill_engineering/copilot/events.py
  src/pytest_skill_engineering/copilot/fixtures.py
  src/pytest_skill_engineering/copilot/judge.py
  src/pytest_skill_engineering/copilot/runner.py
  src/pytest_skill_engineering/execution/servers.py
  src/pytest_skill_engineering/reporting/components/overlay.py
  src/pytest_skill_engineering/reporting/insights.py
  src/pytest_skill_engineering/templates/partials/report.css
  src/pytest_skill_engineering/templates/partials/scripts.js
  tests/integration/copilot/conftest.py
  tests/unit/test_execution_servers.py
  tests/unit/test_plugin_hooks.py
  tests/unit/test_plugin_options.py
  tests/unit/test_plugin_recording.py
  tests/visual/test_04_agent_selector.py
  uv.lock
Due: pyright, mkdocs-build

Fix CodeQL finding: avoid mixed import/import-from of execution.servers
  tests/unit/test_execution_servers.py
Due: pyright

Upgrade dependencies, migrate to Copilot SDK 1.x, fix cost estimation, act on code review findings (#53)
  .github/workflows/auto-release.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/hero-tests.yml
  .github/workflows/integration.yml
  .github/workflows/release.yml
  .github/workflows/stale.yml
  CHANGELOG.md
  CONTRIBUTING.md
  SECURITY.md
  docs/explanation/evals.md
  docs/getting-started/sessions.md
  pricing.toml
  pyproject.toml
  src/pytest_skill_engineering/copilot/events.py
  src/pytest_skill_engineering/copilot/fixtures.py
  src/pytest_skill_engineering/copilot/judge.py
  src/pytest_skill_engineering/copilot/runner.py
  src/pytest_skill_engineering/execution/servers.py
  src/pytest_skill_engineering/reporting/components/overlay.py
  src/pytest_skill_engineering/reporting/insights.py
  src/pytest_skill_engineering/templates/partials/report.css
  src/pytest_skill_engineering/templates/partials/scripts.js
  tests/integration/copilot/conftest.py
  tests/unit/test_execution_servers.py
  tests/unit/test_plugin_hooks.py
  tests/unit/test_plugin_options.py
  tests/unit/test_plugin_recording.py
  tests/visual/test_04_agent_selector.py
  uv.lock
Due: pyright, mkdocs-build

Clean up review findings: remove dead clarification code, fix stale version, honest max_turns docs
  .gitignore
  CHANGELOG.md
  README.md
  pyproject.toml
  src/pytest_skill_engineering/copilot/eval.py
  src/pytest_skill_engineering/copilot/judge.py
  src/pytest_skill_engineering/execution/clarification.py
  uv.lock
Due: pyright, mkdocs-build

Clean up review findings: remove dead clarification code, fix stale version, honest max_turns docs (#54)
  .gitignore
  CHANGELOG.md
  README.md
  pyproject.toml
  src/pytest_skill_engineering/copilot/eval.py
  src/pytest_skill_engineering/copilot/judge.py
  src/pytest_skill_engineering/execution/clarification.py
  uv.lock
Due: pyright, mkdocs-build

Remove squad workflows; add cache-read cost, strict-markers, pyright test coverage, report resiliency
  .github/workflows/ci.yml
  .github/workflows/squad-ci.yml
  .github/workflows/squad-docs.yml
  .github/workflows/squad-heartbeat.yml
  .github/workflows/squad-insider-release.yml
  .github/workflows/squad-issue-assign.yml
  .github/workflows/squad-label-enforce.yml
  .github/workflows/squad-preview.yml
  .github/workflows/squad-promote.yml
  .github/workflows/squad-release.yml
  .github/workflows/squad-triage.yml
  .github/workflows/sync-squad-labels.yml
  .squad/templates/workflows/squad-ci.yml
  .squad/templates/workflows/squad-docs.yml
  .squad/templates/workflows/squad-heartbeat.yml
  .squad/templates/workflows/squad-insider-release.yml
  .squad/templates/workflows/squad-issue-assign.yml
  .squad/templates/workflows/squad-label-enforce.yml
  .squad/templates/workflows/squad-preview.yml
  .squad/templates/workflows/squad-promote.yml
  .squad/templates/workflows/squad-release.yml
  .squad/templates/workflows/squad-triage.yml
  .squad/templates/workflows/sync-squad-labels.yml
  CHANGELOG.md
  pricing.toml
  pyproject.toml
  src/pytest_skill_engineering/copilot/fixtures.py
  src/pytest_skill_engineering/execution/cost.py
  src/pytest_skill_engineering/plugin.py
  tests/integration/copilot/conftest.py
  tests/integration/copilot/test_08_scoring.py
  tests/unit/test_copilot_event_mapper.py
  tests/unit/test_cost.py
Due: pyright, mkdocs-build

Remove squad workflows; add cache-read cost, strict-markers, pyright test coverage, report resiliency (#55)
  .github/workflows/ci.yml
  .github/workflows/squad-ci.yml
  .github/workflows/squad-docs.yml
  .github/workflows/squad-heartbeat.yml
  .github/workflows/squad-insider-release.yml
  .github/workflows/squad-issue-assign.yml
  .github/workflows/squad-label-enforce.yml
  .github/workflows/squad-preview.yml
  .github/workflows/squad-promote.yml
  .github/workflows/squad-release.yml
  .github/workflows/squad-triage.yml
  .github/workflows/sync-squad-labels.yml
  .squad/templates/workflows/squad-ci.yml
  .squad/templates/workflows/squad-docs.yml
  .squad/templates/workflows/squad-heartbeat.yml
  .squad/templates/workflows/squad-insider-release.yml
  .squad/templates/workflows/squad-issue-assign.yml
  .squad/templates/workflows/squad-label-enforce.yml
  .squad/templates/workflows/squad-preview.yml
  .squad/templates/workflows/squad-promote.yml
  .squad/templates/workflows/squad-release.yml
  .squad/templates/workflows/squad-triage.yml
  .squad/templates/workflows/sync-squad-labels.yml
  CHANGELOG.md
  pricing.toml
  pyproject.toml
  src/pytest_skill_engineering/copilot/fixtures.py
  src/pytest_skill_engineering/execution/cost.py
  src/pytest_skill_engineering/plugin.py
  tests/integration/copilot/conftest.py
  tests/integration/copilot/test_08_scoring.py
  tests/unit/test_copilot_event_mapper.py
  tests/unit/test_cost.py
Due: pyright, mkdocs-build

chore(deps): update dependencies
  docs/reports/01_single_agent.html
  docs/reports/01_single_agent.md
  docs/reports/02_multi_agent.html
  docs/reports/02_multi_agent.md
  docs/reports/03_multi_agent_sessions.html
  docs/reports/03_multi_agent_sessions.md
  docs/reports/04_agent_selector.html
  docs/reports/04_agent_selector.md
  docs/reports/05_prompt_comparison.html
  docs/reports/05_prompt_comparison.md
  docs/reports/06_model_prompt_matrix.html
  docs/reports/06_model_prompt_matrix.md
  docs/reports/07_skill_improvement.html
  docs/reports/07_skill_improvement.md
  docs/reports/08_cli_server.html
  docs/reports/08_cli_server.md
  docs/reports/09_ab_servers.html
  docs/reports/09_ab_servers.md
  docs/reports/10_dimension_detection.html
  docs/reports/10_dimension_detection.md
  uv.lock
Due: mkdocs-build

docs: restore showcase and fix example links
  docs/demo/hero-report.html
  docs/getting-started/ab-testing-servers.md
  docs/getting-started/comparing.md
  docs/getting-started/iterations.md
  docs/getting-started/skills.md
  docs/how-to/complete-example.md
  docs/how-to/test-cli-tools.md
  tests/integration/README.md
  tests/showcase/conftest.py
  tests/showcase/instructions/concise.md
  tests/showcase/instructions/detailed.md
  tests/showcase/instructions/friendly.md
  tests/showcase/test_hero.py
Due: pyright, mkdocs-build

fix: restore matrix example and update actions
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/docs.yml
  .github/workflows/hero-tests.yml
  .github/workflows/integration.yml
  .github/workflows/release.yml
  examples/README.md
  tests/integration/README.md
  tests/integration/copilot/test_04_matrix.py
Due: pyright

fix: satisfy Copilot contract analysis
  src/pytest_skill_engineering/copilot/contracts.py
Due: pyright, mkdocs-build

fix: eliminate remaining CodeQL findings
  src/pytest_skill_engineering/copilot/__init__.py
  src/pytest_skill_engineering/copilot/api.py
  src/pytest_skill_engineering/copilot/contracts.py
  src/pytest_skill_engineering/copilot/eval.py
  src/pytest_skill_engineering/copilot/fixtures.py
  src/pytest_skill_engineering/copilot/personas.py
  src/pytest_skill_engineering/copilot/runner.py
  src/pytest_skill_engineering/execution/cost.py
  tests/integration/copilot/test_14_skill_evals.py
  tests/unit/test_copilot_personas.py
  tests/unit/test_cost.py
  tests/unit/test_custom_agent_dispatch.py
Due: pyright, mkdocs-build

Group CodeQL Dependabot updates
  .github/dependabot.yml
Due: none

Group CodeQL Dependabot updates (#87)
  .github/dependabot.yml
Due: none

Update CodeQL actions together
  .github/workflows/codeql.yml
Due: none

Update CodeQL actions together (#88)
  .github/workflows/codeql.yml
Due: none

Document the intended package-feed proxy
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

Preserve evaluation evidence and make summary reports recoverable
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/how-to/generate-reports.md
  docs/reference/result.md
  pyproject.toml
  src/pytest_skill_engineering/cli.py
  src/pytest_skill_engineering/copilot/events.py
  src/pytest_skill_engineering/copilot/fixtures.py
  src/pytest_skill_engineering/copilot/judge.py
  src/pytest_skill_engineering/copilot/result.py
  src/pytest_skill_engineering/core/result.py
  src/pytest_skill_engineering/core/serialization.py
  src/pytest_skill_engineering/plugin.py
  src/pytest_skill_engineering/plugin_report.py
  src/pytest_skill_engineering/prompts/ai_summary.md
  src/pytest_skill_engineering/reporting/collector.py
  src/pytest_skill_engineering/reporting/components/test_comparison.py
  src/pytest_skill_engineering/reporting/components/types.py
  src/pytest_skill_engineering/reporting/generator.py
  src/pytest_skill_engineering/reporting/identity.py
  src/pytest_skill_engineering/reporting/insights.py
  src/pytest_skill_engineering/reporting/markdown.py
  tests/conftest.py
  tests/contracts/test_judge_safety.py
  tests/contracts/test_report_recovery.py
  tests/contracts/test_usage_evidence.py
  tests/unit/test_copilot_fixtures.py
  uv.lock
Due: pyright, mkdocs-build

Refresh report schema fixtures and collection expectations
  tests/fixtures/reports/01_single_agent.json
  tests/fixtures/reports/02_multi_agent.json
  tests/fixtures/reports/03_multi_agent_sessions.json
  tests/fixtures/reports/04_agent_selector.json
  tests/fixtures/reports/05_prompt_comparison.json
  tests/fixtures/reports/06_model_prompt_matrix.json
  tests/fixtures/reports/07_skill_improvement.json
  tests/fixtures/reports/08_cli_server.json
  tests/fixtures/reports/09_ab_servers.json
  tests/fixtures/reports/10_dimension_detection.json
  tests/unit/__snapshots__/test_json_contract.ambr
  tests/unit/test_plugin_hooks.py
  tests/unit/test_reporting.py
Due: pyright

ci: publish docs from main
  .github/workflows/docs.yml
Due: none

docs: fix initializer change count
  docs/getting-started/index.md
Due: mkdocs-build

Fix initializer change count in docs (#100)
  docs/getting-started/index.md
Due: mkdocs-build

feat: add isolated benchmark controls and request evidence
  .github/copilot-instructions.md
  docs/how-to/test-coding-agents.md
  docs/reference/result.md
  pyproject.toml
  src/pytest_skill_engineering/copilot/__init__.py
  src/pytest_skill_engineering/copilot/client.py
  src/pytest_skill_engineering/copilot/contracts.py
  src/pytest_skill_engineering/copilot/controls.py
  src/pytest_skill_engineering/copilot/eval.py
  src/pytest_skill_engineering/copilot/events.py
  src/pytest_skill_engineering/copilot/fixtures.py
  src/pytest_skill_engineering/copilot/requests.py
  src/pytest_skill_engineering/copilot/result.py
  src/pytest_skill_engineering/copilot/runner.py
  src/pytest_skill_engineering/core/result.py
  src/pytest_skill_engineering/core/serialization.py
  tests/unit/test_benchmark_controls.py
  uv.lock
Due: pyright, mkdocs-build

fix: force supported HTTP transport for audited Copilot runs
  docs/how-to/test-coding-agents.md
  src/pytest_skill_engineering/copilot/runner.py
  tests/unit/test_benchmark_controls.py
Due: pyright, mkdocs-build

Audit actual WebSocket inference requests and drain transport cleanup
  docs/how-to/test-coding-agents.md
  docs/reference/result.md
  pyproject.toml
  src/pytest_skill_engineering/copilot/requests.py
  src/pytest_skill_engineering/copilot/runner.py
  tests/unit/test_benchmark_controls.py
  tests/unit/test_request_websocket.py
  tests/unit/test_request_websocket_runtime.py
  uv.lock
Due: pyright, mkdocs-build

Fix WebSocket audit finalization
  .github/workflows/docs.yml
  CHANGELOG.md
  pyproject.toml
  src/pytest_skill_engineering/copilot/requests.py
  src/pytest_skill_engineering/copilot/runner.py
  tests/unit/test_cost.py
  tests/unit/test_release_invariants.py
  tests/unit/test_request_websocket.py
  tests/unit/test_request_websocket_runtime.py
  uv.lock
Due: pyright, mkdocs-build

Path conditions:
  pyright: any of: \.py$
  mkdocs-build: any of: ^(docs/|mkdocs\.yml|src/pytest_skill_engineering/)
